
<center>
<p>Your Score: <%= @points %></p>

<p> Enter your Initials</p>
<%= form_for @scoreboard, url: {action: "create"} do |f|%>
<%= f.text_field :initials %>
<%= f.submit "submit your initials"%>
<%end%>
</center>
