<h1> new </h1>

<p>Your Score: <%= @points %></p>

<p><center> Enter your Initials </center></p>
<%= form_for @scoreboard, url: {action: "create"} do |f|%>
<%= f.text_field :initials %>
<%= f.submit "submit your initials"%>
<%end%>
