
<div class="header">
  <h3>Tinder</h3>
</div>

<div class="button">
  <%= button_to "Return to Trail", attr_change_path(@attr_change), method: "put" %>
</div>
<script src="assets/_game_event.js"></script>