<!-- <div class="phaser-window">
  <script src="/assets/welcome.js"></script>
</div> -->

<!DOCTYPE html>
<html>
<head>
  <title></title>
</head>
<body>
  <div class="header">
  <h1>Mission Trail</h1>
</div>
<div class="typewriter">
  <p><span>Your mission, should you choose to accept it: A hip, new, trendy bar has just opened in</span><span>the Marina District. All ride-sharing services are nonexistent. You have to make it</span><span>to this party before your FOMO decreases and you literally can't even. Traveling by</span><span>foot, you have two hours to make it to the Marina. You are about to witness the</span><span>struggle of the modern millenial...</span></p><br><br>
  <p>The struggle is real.</p>
</div>
<div class="link">
  <%= link_to "Start Game", { :action => "show"}, :method => :get %>
</div>
</body>
</html>

