<div class="page-flexbox-wrapper">
  <div id="event-header">
    <h1>Mission Trail</h1>
    <br>
  </div>
    <div id="top-content-buffer"></div>
      <div class="welcome-container">
        <p>Your mission, should you choose to accept it: A hip, new, trendy bar has just opened in the Marina District. All ride-sharing services are nonexistent. You have to make it to this party before your FOMO decreases and you literally can't even. Traveling by foot, you have two hours to make it to the Marina. You are about to witness the struggle of the modern millenial...
        The struggle is real.</p>
      </div>
    <br>
    <br>
    <%= audio_tag("INTRO.mp3", autoplay: true) %>
    <div class="all-options">
      <div class="options">
        <%= link_to "Start Game", { :action => "show"}, :method => :get %>
        <br>
         <%= link_to "Leaderboard", scoreboard_index_path%>
      </div>
    </div>
</div>
