<!-- <script src="/assets/fomo_details.js"></script> -->

<div class="header">
  <h1>FOMO</h1>
</div>
<div class="typewriter">
  <p>noun, informal</p><br>
  <p><span>Anxiety that an exciting or interesting event may currently be happening elsewhere,</span><span>often aroused by posts seen on social media. ‘Constant real-time awareness - through</span><span>Facebook check-ins and Twitter updates - of the fun everyone is having can spark the</span><span>instant insecurity of FOMO, or fear of missing out.’</span></p>
</div>
<div class="link">
  <%= link_to "Hop On The Trail", controller: 'games', action: 'new' %>
</div>
