<%= form_for @game, url: {action: "create"}, html: {class: "new_game_form"} do |f| %>
  <h4>What is your name?</h4> <%= f.text_field :username %> 
  <h4>What is your occupation?</h4><%= f.select :occupation, ['Hedge Fund Manager', 'Tech Bro', "Yoga Instructor"]%>
  <br>
  <%= f.submit "Hit The Trail!" %>
  <% end %>

  <div class="occupation-info">

  <h4>Hedge Fund Manager:</h4><p>The Hedge Fund Manager</p>
  </div>