<script src="/assets/occupation.js"></script>

<div id="occupations-header">
  <h1>Occupations</h1>
</div>
<div id="occupation">
  <%= form_for @game, url: {action: "create"}, html: {class: "new_game_form"} do |f| %>
    <h4>What is your name?</h4> <%= f.text_field :username %>
    <h4>What is your occupation?</h4><%= f.select :occupation, ['Hedge Fund Manager', 'Tech Bro', "Yoga Instructor"]%>
    <div id="hit-trail-button"><%= f.submit "Hit the Trail" %></div>
  <% end %>
  </div>
