<script src="assets/_game_event.js"></script>

<div class="header">
  <h3>Talk to locals</h3>
</div>

<div class="trail-link">
  <%= button_to "Return to Trail", attr_change_path(@attr_change), method: "put" %>
</div>