.container {
  position: relative;
  float: right;
  left-margin: 10%;
  width: 70%;
  font: 25px "VT323", sans-serif;
}

.stuff {
  padding: 50px;
  float: right;

}

.options {
  text-align: center;
  font: 50px "VT323", sans-serif;
  text-shadow: 1px 1px white;
  text-decoration: none;
}

/* unvisited link */
a:link {
    color: red;
    text-decoration: none;
}

/* visited link */
a:visited {
    color: green;
}

a:hover {
  color: rgb(255, 0, 0);
}

.image {
    display: inline-block;
    padding: 50px;
    max-width: 30%;
    max-height: 30%;
}

.return-to-trail {
  outline: none;
  text-decoration: none;
  display: inline-block;
  width: 50%;
  text-align: center;
  line-height: 2;
  font-color: white;
  font-size: 20px;
  background: red;
  font: 25px "VT323", sans-serif;
}

#event-header {
  text-align: center;
  font: normal 70px/1 "VT323", Helvetica, sans-serif;
  color: rgb(255, 0, 0);
  text-shadow: 3px 3px 0 white;
  display: block;
}

.top-content {
  display: flex;
  justify-content: space-between;
}

.page-flexbox-wrapper {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.event-flexbox-wrapper {
  display: flex;
  flex-direction: column;
}

.all-options {
  margin: 50px;
}

.flexbox-event-content {
  display: flex;
  flex-direction: row;
  min-height: 100vh;
  top-margin: 0px;
  left-margin: 50px;
  right-margin: 50px;
}
