body {
  color: white;
  font-size: 50px;
  font-family: "Press Start 2P";

}

@keyframes typing {
    from { width: 100% }
    to { width: 0 }
    
}

.container {
  position: relative;
  float: right;
  left-margin: 10%;
  width: 70%;
  font-family: Consolas, monospace;  
}

.typing {
  position: absolute;
  top: 0;
  margin: 0;
}

.hiders {
  margin: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.hiders p {
  position: relative; 
  clear: both; 
  margin: 0;
  float: right; /* makes animation go left-to-right */
  width:0; /* graceful degradation: if animation doesn't work, these are invisible by default */
  background: black; /* same as page background */
  animation: typing 2s steps(30, end);
  animation-fill-mode: both;  /* load first keyframe on page load, leave on last frame at end */
}
  
.hiders p:nth-child(2) {
  animation-delay: 2s;
}
.hiders p:nth-child(3) {
  animation-delay: 4s;
}
.hiders p:nth-child(4) {
  animation-delay: 6s;
}
.hiders p:nth-child(5) {
  animation-delay: 8s;
}

.stuff {
  padding: 5px;

}

.options {
  outline: none;
  text-decoration: none;
  display: inline-block;
  width: 75.5%;
  text-align: center;
  line-height: 2;
  color: green;
  font-size: 20px;
  background: yellow;
}

.image {
    display: inline-block;
    padding: 5px;
}

.return-to-trail {
  outline: none;
  text-decoration: none;
  display: inline-block;
  width: 100%;
  text-align: center;
  line-height: 2;
  color: green;
  font-size: 20px;
  background: yellow;
}
