.background {
  background-color: black;
}

h1 {

  margin:auto;
  width:54%;
}



canvas {
margin: auto;
width: 50%;
}

.button {
  display: inline-block;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  padding: 12px;
  overflow: hidden;
  border: none;
  font: normal 70px/1 "VT323", Helvetica, sans-serif;
  color: rgba(232, 2, 2);
  text-align: center;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  text-shadow: 5px 5px 0 rgba(255,38,0,1) ;
  position: relative;
  right: 125px;
  top: 500px;
}

.header {
  display: inline-block;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  padding: 2px;
  overflow: hidden;
  border: none;
  font: normal 20px/1 "VT323", Helvetica, sans-serif;
  color: rgb(255, 0, 0);
  text-align: center;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  text-shadow: 5px 5px 0 white;
  position: relative;
  left: 25%;
}

#occupations-header {
  display: inline-block;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  padding: 2px;
  overflow: hidden;
  border: none;
  font: normal 50px/1 "VT323", Helvetica, sans-serif;
  color: rgb(255, 0, 0);
  text-align: center;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  text-shadow: 5px 5px 0 white;
  position: relative;
  left: 25%;
}

/*#occupation {
  position: relative;
  top: 80%;
  left: 25%;
  color: white;
}*/

.trail-link {
    display: inline-block;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  padding: 12px;
  overflow: hidden;
  border: none;
  font: normal 70px/1 "VT323", Helvetica, sans-serif;
  color: rgba(232, 2, 2);
  text-align: center;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  text-shadow: 5px 5px 0 rgba(255,38,0,1) ;
  position: relative;
  right: 125px;
  left: 200px;
  top: 500px;
}

.image {
  height: 300px;
}
