.sprite {
  position:relative;
  right: 70px;
  top: 0px;
  width: 40px;
  height: 60px;
  margin: 2% auto;
  background: url('/assets/walk.png') left center;
  animation: play 1s steps(10) infinite;
}

@keyframes play {
    100% { background-position: -1900px; }
}

.second_sprite {
  position:relative;
  bottom:20px;
  left: 100px;
}
