.sprite {
  position:relative;
  right: 400px;
  top: 50px;
  width: 40px;
  height: 60px;
  margin: 2% auto;
  background: url('/assets/walk.png') left center;
  animation: play 1s steps(10) infinite;
}

@keyframes play {
    100% { background-position: -1900px; }
}

.bar {
  position:relative;
  left: -300px;
  bottom: 130px;
  width: 118px;
  height:130px;
  margin: 2% auto;
  background: url('/assets/bar.png') left center;
}
