.create-game-form {
  position: relative;
  display: block;
  line-height: 5;

}

.occupations {
  position: relative;
  line-height: 2;
}

#occupations-header {
 text-align: center;
  font: normal 70px/1 "VT323", Helvetica, sans-serif;
  color: rgb(255, 0, 0);
  text-shadow: 3px 3px 0 white;
  margin: auto;
}

.occupation-question {
  font: 25px "VT323", sans-serif;
  color: yellow;
}

#job-title {
  font: 25px "VT323", sans-serif;
  color: yellow;

}

#job-descriptor {
  font: 25px "VT323", sans-serif;
  margin-left: 5%;
  margin-right: 5%;
}

.selector-class {
  font-family: "Press Start 2P";
}

body {
  color: white;
  font-size: 20px;
}

.hit-trail-button {
  background-color: red;
  text-decoration: none;
  color: white;
  padding: 12px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font: 40px "VT323", sans-serif;
}

#hit-trail {
  text-align: center;
  margin: auto;
}